* {
    color: black;
}

h1 {
    color: black;
}

ul.base {
    border: white 1px solid;
    padding: 0px;
    color: black;
    list-style-type: none;
    display: grid;
    margin: 0;
    padding: 10px;
    display: flex;
    background-color: transparent;
}

ul.base li {
    margin-right: 20px;
    border: 1px transparent solid;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    color: black;
}

ul.form {
    display: grid;
    max-width: 10px;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

.uniForm {
    display: grid;
    max-width: 20px;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-image: url('wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    color: white;
}

h1.home {
    text-align: center;
    color: white;
}

.logagain {
    color: black;
    border: 1px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}