{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>story10</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'bootstrap.css' %}"> -->
</head>

<body>
    <div class='container'>
        <ul class='base'>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li> {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'regis' %}">Register</a></li> {% endif %}
        </ul>
    </div>
    <br> {% block content %} {% endblock %}
</body>

</html>