{% extends 'base.html' %} {% block content %}
<br>
<br> {% if user.is_authenticated %}
<h1 style="text-transform: capitalize;">Hello, {{ user.first_name }}!</h1>
{% else %}
<h1 class='home'>Hello!</h1>
{% endif %} {% endblock %}