{% extends 'base.html' %} {% block content %}
<br>
<div class="regis">
    <form method='POST' class='form-group'>
        {% csrf_token %}
        <ul class='form'>{{ form }}</ul>
        <br>
        <button style="vertical-align:middle"><span>Sign up</span></button>
    </form>
</div>
{% endblock %}